<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports API</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>

    <div class="apiDiv">
  
    <div class="container">
<h1>Welcome Sport's Fan!</h1>

<h2>Select A Sport! </h2>

<div class="sportContainer">
<div class="sport">
<h3><a href="basketball.html">Basketball</a></h3>
</div>
<div class="sport">
  <h3><a href="soccer.html">Soccer</a></h3>
 
</div>
<div class="sport">
  <h3><a href="americanFootball.html">American Football</a></h3>
</div>
<div class="sport">
  <h3><a href="rugby.html">Rugby</a></h3>
</div>
</select>

</div>


</div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  
  <script>
      WebFont.load({
          google: {
              families: [
                  'Goldman'
              ]
          }
      });
  </script>
  
</html>
